.header {
    grid-area: header;
}


.main {
    grid-area: main;
}

.right {
    grid-area: right;

}

.footer {
    grid-area: footer;
}


.grid-container {
    display: grid;
    grid-template-areas:
    'header header'
    'main main'
    'main main'
    'footer footer';
    grid-template-columns: auto 20%;
    padding-top: 5%;
    width: 80%;
    align-items: center;
    margin: auto;
}

/* kakapo image */
#kakapo {
    max-width: 50px;
}

.center {
    margin: auto;
}

.text-center {
    text-align: center;
}

.article-summary {
    min-width: 40%;
    padding: 1%;
}


.content {
    max-width: 600px;
    margin: auto;
    text-align: justify;
    padding-top: 10px;
}

.miniature {
    width: 64px;
    height: auto;
    padding: 5px;
}

.github-projects {
    padding: 1%;
    max-width: 800px;
    margin: auto;
    text-align: justify;
}
